@import "tailwindcss";

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.loader {
  width: 70px;
  height: 70px;
  border: 6px solid rgba(255, 255, 255, 0.15);
  border-top: 6px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
